@model int

<link rel="stylesheet" href="~/css/site1.css" />

<style>
    .line {
        border-bottom: 3px solid #000000 /* Параметры линии */
    }
</style>
@{

}
<body>
    <div class="headerleft">
        
        <img width="50" src="~/images/logo.png"/>
        
    </div>
    <div style="text-align:left" class="headerright">
        <partial name="_LoginPartial" />
    </div>
    <div class="split20 left">
        <div class="centered">
            <p>&nbsp  Смена: @Program.start</p>

            <a asp-controller="Product" asp-action="Index" style="font-size:1.2vw; border-radius:0px" class="btn btn-primary w-100">
                <i class="fa-solid fa-bars"></i> &nbsp; Каталог товаров
            </a>

            <a asp-controller="Cart" asp-action="Index" style="font-size:1.2vw; border-radius:0px" class="btn btn-info w-100">
                <i class="fa-solid fa-cart-shopping"></i>&nbsp;&nbsp;Корзина
            </a>

            @if (User.IsInRole("Manager"))
            {
                <a asp-controller="Product" asp-action="Create" style="font-size:1.2vw; border-radius:0px" class="btn btn-success w-100">
                    <i class="fa-solid fa-plus"></i>&nbsp;&nbsp;Добавить товар
                </a>
            }
            <div class="line"></div>


            @if (Model!= 0)
            {
                <a asp-controller="Cart" asp-action="RemoveAll" style="font-size:1.2vw; border-radius:0px" class="btn btn-danger w-100">
                    <i class="fa-solid fa-plus"></i>&nbsp;&nbsp;Очистить корзину
                </a>


                <a asp-controller="Cart" asp-action="PrintBeznal" style="font-size:1.2vw; border-radius:0px" class="btn btn-success w-100">
                    <i class="fa-solid fa-plus"></i>&nbsp;&nbsp;Оплатить безналом
                </a>

                <a asp-controller="Cart" asp-action="PrintNal" style="font-size:1.2vw; border-radius:0px" class="btn btn-success w-100">
                    <i class="fa-solid fa-plus"></i>&nbsp;&nbsp;Оплатить наличкой
                </a>
            }
            <p style="font-size:1.2vw;cursor: not-allowed; border-radius:0px" class="btn btn-light w-100">Сумма: @Model₽</p>
        </div>
    </div>
    <div class="split80 right">
        <div class="centered">
            <h4>
                Здравствуйте! Мы оценили ваши знания и профессиональные качества на собеседовании. Уверены, они помогут вам добиться весомых профессиональных результатов. Желаем реализовать себя на этой должности!
            </h4>
        </div>
    </div>
    
</body>
