@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/Style.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<div class="parent">
    <div class="block">
        <h2>Привет Работяга!</h2>
        <partial name="_LoginPartial" />
    </div>
</div>
